@font-face {
    font-family: circular_std;
    src: url(fonts/circular_std.ttf);
}

/* @font-face {
    font-family: galano;
    src: url(fonts/galano_grotesque.otf);
} */

@font-face {
    font-family: metropolis;
    src: url(fonts/metropolis.otf);
}

:root {
    --backgroundGray: #fdfdfd;
    --lightBlack: #435d5f;
    --showCaseBlack: #000000;
    --white: #FFFFFF;
    --emailOrange: #EA7F4A;
}

body {
    background: var(--backgroundGray) url(images/map.png) no-repeat fixed center;
    background-size: 800px;
}

nav {
    display: flex;
    width: 90%;
    margin: 0 auto;
    font-family: circular_std;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--lightBlack);
}
nav a:hover {
    color: var(--showCaseBlack);
}
#navlist {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
.new_over_pricing {
    position: relative;
    background-color: var(--emailOrange);
    color: var(--white);
    font-size: 0.58rem;
    border-radius: 4px;
    padding: 0.2rem;
    top: -1.5rem;
    left: -1.7rem;
}
.new_over_pricing::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--emailOrange) transparent transparent transparent;
}
#login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 40%;
}
#request {
    border: 1px solid var(--lightBlack);
    border-radius: 7px;
    padding: 0.5rem;
}
#request:hover {
    background: var(--emailOrange);
    color: var(--white);
    border: 1px solid var(--white);
}
#center {
    margin-top: 8rem;
    
}
#showcase {
    width: 80%;
    margin: 0 auto;
}
#showcase h1 {
    font-family: metropolis;
    font-size: 3rem;
    color: var(--showCaseBlack);
    text-align: center;
    margin: 0 auto;
}
.show img {
    width: 1.8rem;
}
.work img {
    position: relative;
    left: -0.4rem;
    top: -2rem;
}
.with {
    display: block;
    margin-top: 1rem;
}
.with img {
    width: 2.6rem;
}